<div class="container-fluid shae-container">
  <div class="row">
    <div class="col">
      <h1><s>Mad</s> CuteLibs!!</h1><br>
      <p>Prepare to have your fuzzy kitty cat socks BLOWN OFF!</p>
      <p>From absolute cuteness of course XD</p>
    </div>
  </div>
  <div class="row madlibs-container">
    <div class="col-6">
      <div class="form-group">
        <label class="control-label col-sm-5">What's your favorite color?</label>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="color" />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-5">What's your pet's name?</label>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="petName" />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-5">What's your favorite food?</label>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="foodItem" />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-5">What city were you born in?</label>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="cityName" />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-5">Which country would you love to visit?</label>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="countryName" />
        </div>
      </div>
      <div class="shae-button">
        <button (click)="save()" class="btn btn-default btn-xs save-btn">Save</button>
        <button (click)="reset()" class="btn btn-default btn-xs reset-btn">Reset</button>
      </div>
    </div>

    <div class="col-6">
      <h2>It's STORY TIME! <span id="heart">&hearts;</span></h2>
      <div class="row">
        <div class="col">
          <div class="story-outline">
            Once upon a time, there was a magical, (and insanely cute!) animal named <span id="madlibs-tag">{{petName}}</span> and
            they lived in Misty Meadows located in <span id="madlibs-tag">{{cityName}}</span>. One day, while
            <span id="madlibs-tag">{{petName}}</span> was out and about, the local Meadow Fairy suddenly appeared!
            <br><em>"Why hello there <span id="madlibs-tag">{{petName}}</span> - do I have an offer for you!"</em> said the Fairy.
            <br><em>"Yeah? What's that!"</em> said <span id="madlibs-tag">{{petName}}</span>.
            <br><em>"I've been watching you - in a non-creepy way of course! And I would like to offer you the chance to go to <span id="madlibs-tag">{{countryName}}</span> and eat 5 tons of their favorite food - <span id="madlibs-tag">{{foodItem}}</span>!"</em>
            <br><span id="madlibs-tag">{{petName}}</span> couldn't believe it! They love <span id="madlibs-tag">{{foodItem}}</span> so much that well, they would do literally anything to have it! <span id="madlibs-tag">{{petName}}</span> thought about it and you guessed it! They accepted! They immediately ran home and packed their favorite
            <span id="madlibs-tag">{{color}}</span> suitcases and Uber'd to Steam Conch Airport!<br><br>
            Ten days later, <span id="madlibs-tag">{{petName}}</span> was last seen still going strong with piles of <span id="madlibs-tag">{{foodItem}}</span> surrounding them. One might say that <span id="madlibs-tag">{{petName}}</span> was
            enjoying their best life <span id="heart">&hearts;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
